{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){

        {% for obj in cl.result_list %}
            // hover
            $('#progress_btns_{{ obj.pk }} li').hover(function() {
                $progress = $(this).text();
                $('#progress_on_{{ obj.pk }}').css('width', barWidth($progress));
            });

            // mouseout
            $('#progress_btns_{{ obj.pk }} li').mouseout(function() {
                $progress = $('#progress_{{ obj.pk }}').text();
                $('#progress_on_{{ obj.pk }}').css('width', barWidth($progress));
            });

            //click
            $('#progress_btns_{{ obj.pk }} li').click(function() {
                $progress = $(this).text();
                $('#progress_on_{{ obj.pk }}').css('width', barWidth($progress));
                $('#progress_{{ obj.pk }}').text($progress);
                $.ajax({
                    type: "POST",
                    url: "{% url testes.todo.views.progress obj.pk %}",
                    data: ({progress: $progress }),
                })
            });

            $('#progress_on_{{ obj.pk }}').css('width', barWidth({{ obj.progress }}));
            $('#progress_{{ obj.pk }}').text({{ obj.progress }});

            // Done toggle
            $('#done_{{ obj.pk }}').click(function() {

                if ($(this).html().indexOf("icon-on") != -1) { $action = "off"; }
                else { $action = "on"; }

                $.ajax({
                    type: "POST",
                    url: "/testes/onhold_done/done/" + $action + "/{{ obj.pk }}/",
                    success: function(action) {
                        $('#done_{{ obj.pk }}').html("<img class='btn' src='/media/img/admin/icon-"
                            +$action+".gif' />");
                    }
                })
            });

            // OnHold toggle
            $('#onhold_{{ obj.pk }}').click(function() {

                if ($(this).html().indexOf("icon-on") != -1) { $action = "off"; }
                else { $action = "on"; }

                $.ajax({
                    type: "POST",
                    url: "/testes/onhold_done/onhold/" + $action + "/{{ obj.pk }}/",
                    success: function(action) {
                        $('#onhold_{{ obj.pk }}').html("<img class='btn' src='/media/img/admin/icon-"
                            +$action+".gif' />");
                    }
                })
            });

        {% endfor %}

        function barWidth($progress) {
            $progress = parseFloat($progress);
            switch ($progress){
                case 10: $width = "14px"; break;
                case 20: $width = "28px"; break;
                case 30: $width = "42px"; break;
                case 40: $width = "56px"; break;
                case 50: $width = "70px"; break;
                case 60: $width = "84px"; break;
                case 70: $width = "98px"; break;
                case 80: $width = "112px"; break;
                case 90: $width = "126px"; break;
                case 100: $width = "140px"; break;
                default:  $width =  "84px";
            }
            return $width;
        }

        });
    </script>

    <style type="text/css">
        .btn { cursor: pointer; }
        .progress_cont { background: #ccc; border: 1px solid #ccc; width: 140px;
             height: 10px; text-align: left; margin-left: 2px; margin-top: 0px; }

        .progress_on { background: #333; width: 0px; height: 10px; position: relative;
             z-index: 50; top: -10px; }

        .progress { font-size: 11px; font-family: Arial, Helvetica, sans-serif;
             color: #333; padding-left: 3px; width: 22px; float: left; margin-top: -2px; }

        .progress_btns { position: relative; z-index: 100; width: 140px; height: 10px;}
        .progress_btns ul, #progress_btns li  { padding: 0; margin: 0; }
        .progress_btns li { float: left; width: 13px; height: 10px; display: block;
             font-size: 1px; cursor: pointer; color: #1E1D1C;
        }
    </style>

  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../">
        {% trans "Home" %}
      </a>
       &rsaquo;
       <a href="../">
         {{ app_label|capfirst }}
      </a>
      &rsaquo;
      {{ cl.opts.verbose_name_plural|capfirst }}
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}


{% block content %}
<a href="{% url admin:todo_datetime_add %}">Add Todo items</a>
  <div id="content-main">
    {% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          <li>
            <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
              {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
            </a>
          </li>
        </ul>
      {% endif %}
    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        {{ cl.formset.management_form }}
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
