﻿<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Blog{% endblock %}</title>
    <!-- <meta http-equiv="refresh" content="2">  -->
    <link rel="stylesheet" href="/media/style.css" type="text/css" media="screen"
      charset="utf-8" />

    <style type="text/css">
        * {
            color: #555;
            font-size: 0.95em;
        }

        #menu a {
            text-decoration: none;
            background: #eee;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-right: 2px solid #fff;
            padding-right: 3px;
            padding-left: 3px;
            color: #777;
            font-size: 0.9em;
        }

        a:hover {
            background: #eeebeb;
            border-top: 1px solid #aaa;
            border-bottom: 1px solid #aaa;
            color: #555;
        }

        #container { margin: auto; width: 800px; border: 0px solid; }
        p { font-size: 1.1em; }
        h3 { margin-right: 30px; display: inline; }
    </style>

</head>

<body>
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
    <div id="container">
        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                <h3>Meu Blog</h3>
                {% if user.is_staff %}
                <a href="{% url admin:index %}">Administração</a>
                     <a href="{% url admin:blog_post_add %}">Adicionar post</a>
                {% endif %}

            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>

